<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Log seviyeleri düşürüldü -->
    <logger name="io.ktor" level="INFO"/>
    <logger name="org.jetbrains.exposed" level="WARN"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="ktor.application" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
